apiVersion: v1
kind: ConfigMap
metadata:
  name: patroni-config
  namespace: openmeet-production
data:
  patroni.yml: |
    scope: postgres-cluster
    namespace: openmeet-production
    name: ${HOSTNAME}

    restapi:
      listen: 0.0.0.0:8008
      connect_address: ${HOSTNAME}.postgres-patroni:8008

    etcd3:
      hosts: etcd-client:2379

    bootstrap:
      dcs:
        ttl: 30
        loop_wait: 10
        retry_timeout: 10
        maximum_lag_on_failover: 1048576
        postgresql:
          use_pg_rewind: true
          use_slots: true
          parameters:
            max_connections: 200
            shared_buffers: 512MB
            effective_cache_size: 2GB
            maintenance_work_mem: 128MB
            checkpoint_completion_target: 0.9
            wal_buffers: 16MB
            default_statistics_target: 100
            random_page_cost: 1.1
            effective_io_concurrency: 200
            work_mem: 2621kB
            min_wal_size: 1GB
            max_wal_size: 4GB
            max_worker_processes: 4
            max_parallel_workers_per_gather: 2
            max_parallel_workers: 4
            max_parallel_maintenance_workers: 2
            # Replication settings
            hot_standby: "on"
            wal_level: replica
            max_wal_senders: 10
            max_replication_slots: 10
            hot_standby_feedback: "on"
            wal_log_hints: "on"

      initdb:
        - encoding: UTF8
        - data-checksums

      pg_hba:
        - host replication replicator 0.0.0.0/0 md5
        - host all all 0.0.0.0/0 md5

      users:
        admin:
          password: admin
          options:
            - createrole
            - createdb

    postgresql:
      listen: 0.0.0.0:5432
      connect_address: ${HOSTNAME}.postgres-patroni:5432
      data_dir: /var/lib/postgresql/data/pgdata
      pgpass: /tmp/pgpass
      authentication:
        replication:
          username: replicator
          password: ${REPLICATION_PASSWORD}
        superuser:
          username: postgres
          password: ${POSTGRES_PASSWORD}
        rewind:
          username: replicator
          password: ${REPLICATION_PASSWORD}
      parameters:
        unix_socket_directories: '/var/run/postgresql'

    tags:
      nofailover: false
      noloadbalance: false
      clonefrom: false
      nosync: false
